/* This css sheet will apply styles to all of my web pages */




body {
	font-family: Georgia, Verdana, serif;
	margin-top: 0;
	padding-top: 0;
	background-color: #5C5E5F;
}

p {
	margin: 0 0 1.25em 1.25em;
}

header {
	padding-top: 0;
	position: relative;
	
}

#banner {
	position: relative;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	border: solid 1px black; 
}

#logo {
	height: 155px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 0;

}

#head {
	height: auto;
	width: 220px;
	position: absolute;
	right: 5px;
	top: 0px;
	
}

nav {
	display: block;
	text-align: center;
	background-color: black;
	width: 1000px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	clear: both;
	border: solid 1px black;
	
}

nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin: 0;
	z-index: 1;
	
}

nav ul li {
	display: inline-block;
	font-family: Agency FB;
	font-size: 24px;
	margin-right: 50px;
	text-align: center;

}

nav a {
	text-decoration: none;
	color: white;
	
}

nav a:hover{
	color: #746FE9;
	border-bottom: solid #746FE9;
}

#middle {
	position: relative;
    width: 1000px;
    margin: auto;
    background-color: white;
    border: solid 1px black;
}

section  {
	margin-left: 8px;
	margin-right: 8px;
}

h3 {
	color: blue;
}

 #quote {
	font-family: quote;
	font-size: 3em;
}

#social {
	position: fixed;
	left: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

#social ul {
	list-style-type: none;
}

#social a {
	border-style: none;
}

#social img {
	width: 60px;
	height: auto;
	float: left;
}

.resume {
	text-align:center;
}


#noblue {
	color: black;
}

@font-face {
	font-family: quote;
	src: url('1942.ttf') format('truetype'); 
}

#fitpic {
	height: auto;
	width: 500px;
	position: relative;
	left: 250px;
	clear: both;
	padding-bottom: 15px;
}

.workout td, th, caption {
	border: 1px solid black;
	margin: 0;
}

footer {
	background-color: black;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border: 0.5px solid black;
}

footer p {
	color: white;
	text-align: center;
}

 table {
    margin-left:auto; 
    margin-right:auto;
}

.blue {
	background-color: #5E5D7E;
} 

.pic{
	float: right;
	width: 200px;
	height: auto;
	padding-left: 1em;
	right: 2px;
}

aside p {
	float: right;
	color: red;
}